[submodule "apps/sporza-ss/sporza-lite/themes/terminal"]
	path = apps/sporza-ss/sporza-lite/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "apps/sporza-ss/sporza-lite/themes/ananke"]
	path = apps/sporza-ss/sporza-lite/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "apps/sporza-ss/sporza-lite/themes/minimal"]
	path = apps/sporza-ss/sporza-lite/themes/minimal
	url = https://github.com/calintat/minimal.git
